{% extends 'base.html' %}

{% block title %}
作品編集・削除-Family Treasures
{% endblock %}

{% block content %}
  <!-- CSSファイルの読み込み -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/artwork_detail.css' %}">

  <h2>{{ artwork.title }}</h2>
  <div class="artwork-detail">
    {% if artwork.image %}
      <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
    {% endif %}
    <p>子供の名前: {{ artwork.child.child_name }}</p>
    <p>作成日: {{ artwork.creation_date }}</p>
    <p>コメント・感想:</p>
    <p>{{ artwork.comment }}</p>
    
    <a href="{% url 'app:artwork_edit' artwork.id %}" class="btn btn-secondary">編集</a>
    <form action="{% url 'app:artwork_delete' artwork.id %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">削除</button>
    </form>
  </div>
{% endblock %}
