{% extends 'base.html' %}

{% block content %}
<!-- フィルタリングフォーム -->
<form method="get" action=".">
    <label for="child">子供の名前で絞り込み：</label>
    <select name="child" id="child">
        <option value="">全ての子供</option>
        {% for child in children %}
            <option value="{{ child.id }}" {% if child.id|stringformat:"s" == selected_child %}selected{% endif %}>
                {{ child.child_name }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="フィルタ">
</form>

<hr>

<!-- 日記の一覧表示 -->
{% if diaries %}
    {% for diary in diaries %}
        <!-- 子供の名前の表示 -->
        <h3>{% if diary.child %}{{ diary.child.child_name }}{% else %}みんな{% endif %}の日記</h3>

        <p>年月: {{ diary.entry_date|date:"Y年 m月" }}</p>
        <p>日付と曜日: {{ diary.entry_date|date:"j日 (l)" }}</p>

        <!-- 日記の内容の表示をクリック可能にし、詳細ページに移動 -->
        <a href="{% url 'app:diary_detail' diary.pk %}">
            <p>{{ diary.content|default:"内容はありません" }}</p>
        </a>

        <!-- 最初に追加された画像の表示 -->
        {% if diary.first_image %}
            <img src="{{ diary.first_image.media_file.url }}" alt="最初の画像">
        {% endif %}

        <hr>
    {% endfor %}
{% else %}
    <p>日記がありません。</p>
{% endif %}
{% endblock %}
