{% extends 'base.html' %} 

{% block content %}
    <h2>日記を投稿</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'app:diary_list' %}">
    {% csrf_token %}
        <!-- フォーム内容 -->
        <div class="form-group">
            <label for="child">子供の名前</label>
            {{ form.child }}
        </div>

        <!-- 新しいフォーム項目 -->
        <div class="form-group">
            <label for="weather">天気:</label>
            {{ form.weather }}
        </div>
        
        <div class="form-group">
            <label for="stamp">気持ちのスタンプ:</label>
            {{ form.stamp }}
        </div>
        
        <div class="form-group">
            <label for="template">一言:</label>
            {{ form.template }}
        </div>
        
        <div class="form-group">
            <label for="content">日記の内容</label>
            {{ form.content }}
        </div>
    <div class="form-group">
        <label for="media">画像や動画をアップロード（複数選択できます）</label>
        <input type="file" name="media_url" id="media" multiple>
    </div>

    <!-- 選択されたファイル名を表示するリスト -->
    <ul id="file-list"></ul><!-- ここにファイル名を表示 -->

    <button type="submit" class="btn btn-primary">投稿する</button>
</form>
{% endblock %} 


{% block extra_js %}
<script>
    var selectedFiles = [];  // 選択されたファイルを保持する配列


    document.getElementById("media").addEventListener("change", function () {
    var output = document.getElementById("file-list");
    var files = this.files;  // 新しく選択されたファイル

        // 選択されたファイルを配列に追加
        for (var i = 0; i < files.length; i++) {
            selectedFiles.push(files[i]);
        }

        // リストをクリアしてから、すべてのファイルを再表示
        output.innerHTML = "";
        selectedFiles.forEach(function(file, index) {
            var listItem = document.createElement("li");
            listItem.textContent = (index + 1) + ": " + file.name;
            output.appendChild(listItem);
        });
    });
</script>
{% endblock %}
