{% extends 'base.html' %}

{% block title %}
パスワード変更
{% endblock %}

{% block content %}
    <!-- 静的ファイルを読み込む -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">

    <!-- メインコンテナ -->
    <div class="account-update-container">
        <h2>パスワード変更</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group">
            <button type="submit" class="btn btn-password-change">パスワードを変更する</button>
            <a href="{% url 'app:my_page' %}" class="btn btn-cancel">キャンセル</a>
        </div>
        </form>
    </div>
{% endblock %}
